.container {
    display: flex;
    padding: 0.5rem 1.0rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 90%;
    width: 90vw;
    margin: auto;
}

.description {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

.upperDiv {
    /*margin-top: 10px;*/
}

.header {
    width: 80vw;
    text-align: left;
}

.input {
    width: 80vw;
    padding-left: 10px;
    border-radius: 5px;
    font-size: larger;
}

@media screen and (min-width:600px) {
    .header {
        width: 500px;
        text-align: left;
    }
    .input {
        width: 500px;
    }
}

.hidden {
    display: none;
}

.ownerDetail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.divLogin {
    composes: ownerDetail;
}

.divRegister {
    composes: ownerDetail;
}

.formOwnerDetail {
    background-color: #058eff;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    margin-top: 150px;
    color:white;
}

.formLogin {
    composes: formOwnerDetail;
}

.formRegister {
    composes: formOwnerDetail;
}

.inputForm {
    width: 90%;
    padding-left: 5px;
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: larger;
    color:black;
}

.divBtn {
    position: fixed;
    bottom: 50px;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    background-color: #058eff;
    color: white;
}
.btn:hover{
    background-color: white;
    color: #058eff;
}
.btn:disabled{
    background-color: white; 
    color: gray;
}
.submitBtn {
    composes: btn;
    width: 90%;
    padding-left: 5px;
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: larger;
}

.nextBtn {
    composes: btn;
}

.prevBtn {
    composes: btn;
}